CREATE TABLE IF NOT EXISTS public.vigilance_bulletins (
    id SERIAL PRIMARY KEY,
    domain_id TEXT,
    text_type TEXT, -- 'national', 'regional', 'dept'
    title TEXT,
    content TEXT,
    update_time TIMESTAMPTZ,
    UNIQUE(domain_id, text_type)
);

ALTER TABLE public.vigilance_status ADD COLUMN IF NOT EXISTS start_time TIMESTAMPTZ;
ALTER TABLE public.vigilance_status ADD COLUMN IF NOT EXISTS end_time TIMESTAMPTZ;
ALTER TABLE public.vigilance_status ADD COLUMN IF NOT EXISTS comments TEXT;

-- RLS for bulletins
ALTER TABLE public.vigilance_bulletins ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Public
read
bulletins\ ON public.vigilance_bulletins FOR SELECT USING (true);
CREATE POLICY \Public
insert
bulletins\ ON public.vigilance_bulletins FOR INSERT WITH CHECK (true);
CREATE POLICY \Public
update
bulletins\ ON public.vigilance_bulletins FOR UPDATE USING (true);

